# Jupyter
.ipynb_checkpoints/

# Data files
*.gpkg
*.shp
*.sqlite
*.nc

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

