# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd

# Virtual environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data files (optional: ignore large/raw datasets)
*.csv
*.gpkg
*.shp
*.sqlite
*.nc

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

